# Binaries for programs and plugins
*.exe
*.exe~
!**/libs/*.exe
!**/libs/*.exe~
*.dll
!**/libs/*.dll
*.so
!**/libs/*.so
*.dylib
*.jar

# Test binary, build with `go test -c`
*.test

# Vendor Libraries Installed by GoDep
**/vendor/*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore results of tests
**/test/results/*
